.App {
  width: 100%;
  min-height: 100%;
  height: auto;
}

a,
button {
  text-decoration: none;
  color: #505050;
  outline: none;
}

ul {
  list-style: none;
}

h2 {
  text-align: center;
  margin-bottom: 5%;
  color: #383838;
}

.container,
.container-flex {
  width: 100%;
  min-height: 650px;
  height: auto;
  padding: 5%;
  position: relative;
}

.grid-col-3,
.grid-row-2 {
  width: 100%;
  min-height: 500px;
  height: auto;
  padding: 5%;
}

.grid-col-3 {
  display: grid;
}

.grid-col-3 {
  grid-template-columns: 30% 30% 30%;
  gap: 5%;
}

.grid-row-2 {
  display: grid;
  grid-template-rows: 47.5% 47.5%;
  gap: 5%;
}

.container-flex {
  display: inline-flex;
}

.box,
.box-3,
.box-5 {
  min-height: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.box {
  width: 100%;
}

.box-3 {
  width: 30%;
}

.box-5 {
  width: 50%;
  padding: 5%;
}

@media (max-width: 700px) {

  h2 {
    margin-bottom: 15%;
  }
  
  .box,
  .box-3,
  .box-5 {
    width: 100%;
    min-height: 300px;
  }

  .container-flex,
  .grid-col-3 {
    display: block;
  }
}